.loading-container {
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.netflix-logo {
  width: 200px;
  opacity: 0;
}

.netflix-logo.animate {
  animation: fadeInZoomOut 3.5s forwards;
}

@keyframes fadeInZoomOut {
  0%   { opacity: 0; transform: scale(0.5); }
  30%  { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(2); }
}
